
.link {
	outline: none;
	text-decoration: none;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}


// .color-4 { background: #333; }
.grid__item {
	background: #DDD;
	text-align: center;
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	transform: translate3d(0,0,0); /* Solves Safari bug because of SVG clipping mask */
}


/* Kumya */
.link--kumya {
	font-family: 'Syncopate', sans-serif;
	font-size: 2em;
	overflow: hidden;
	padding: 10px 10px 0;
	line-height: 1;
	color: #242424;
}

.link--kumya:hover {
	color: #242424;
}

.link--kumya::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: #242424;
	transform: translate3d(101%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover::after {
	transform: translate3d(0,0,0);
}

.link--kumya span {
	display: block;
	position: relative;
}

.link--kumya span::before {
	content: attr(data-letters);
	position: absolute;
	color: #fff;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover span::before {
	width: 100%;
}