

.layout {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // row-gap: 15rem;
    justify-items: center;
    border-radius: 50px;
    overflow: hidden;
}

.banner {
  position: relative;
  width: 100%;
  height: 60vh;
  grid-column: 1 / -1;
  line-height: normal;
  background-image: linear-gradient(
    to bottom,
    rgba(#287c78, 0.5),
    rgba(#41caa8, 0.8));

  &__content {
    color: var(--color-white);
    position: absolute;
    bottom: 0;
    left: 40%;

    & > h1 {
      font-size: 100px;
      display: inline-block;
      margin: 0;
      animation: moveInRight .5s ease-in-out;
    }

    & > h2 {
      display: inline-block;
      font-size: 20px;
      margin: 0 0 0 40px;
      animation: fadeIn 3s ease-in-out;
    }
  }

  &__photo {
    position: absolute;
    bottom: -15rem;
    left: 15%;
  }

}

.about-me {
  grid-column: 1 / -1;
  padding: 0 0 0 10rem;

  & h3 {
    display: block;
    text-align: center;
  }

  &__content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    padding: 0 5rem;

    
    // &--left {
    // }
    // &--right {
    // }
    &--bottom {
      grid-column: 1 / -1;
    }
  }
}

.clip-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right bottom,
    rgba(#3feee6, 0.8),
    rgba(rgb(218, 137, 113), 0.8)),
    url("../../../assets/images/sherry-full-body.jpeg");
    clip-path: polygon(70% 0, 0 44%, 78% 100%);

}

.projects {
  text-align: center;
  grid-column: 1 / -1;
  width: 100%;
  padding: 2rem 10rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(#3feee6, 0.8),
    rgba(rgb(218, 137, 113), 0.8));


    &__list {
      height: 100%;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, 20rem);
      grid-template-rows: 20rem;
      grid-gap: 5rem;

      & li {
        border-radius: 2rem;
        overflow: hidden;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
}

.footer {
  grid-column: 1 / -1;
  width: 100%;
  padding: 5rem 10rem;
  background-color: var(--color-grey-dark);
  color: var(--color-white);
  text-align: center;
}

.social {
  // width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  & li {
    padding: 3rem;
    border-radius: 10rem;
    transition: all .2s;
    animation: btnGrow .2s ease-out .3s;
    animation-fill-mode: backwards;

    svg {
      fill: var(--color-primary);
      height: 10rem;
      width: 10rem;
    }

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 1rem 1rem var(--color-primary);
          svg {
      fill: var(--color-tertiary);
    }
    }
  }
}


@keyframes btnGrow {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}